@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0 0;
}



.main_content div{
	background: #91c2ab;
	width: 100%;
	height: 520px;
}

.main_content .nav{
	width: 12%;
	float:left;
	
}

.main_content .content{
	background: #fafcff;
	float:left;
	width: 88%;
}


/* .boardList_wrap .footer{ */
/* 	background: gray; */
/* 	position: relatiev; */
/* 	height: 720px; */
/* } */