@charset "UTF-8";

.container{
	background: #dfecf5;
}


.chm_table{
	font-size:50px;
	
}

.memberList_list{
		padding-top: 30px;

}

.memberList_listTable{
	border-collapse: collapse;
    border-top: 3px solid #168;
}




.memberList_listTable th{
    color: #080807;
    background: #f0f6f9;
    text-align: center;	
    padding:16px;
	font-size:23px;
	width:300px; 
	text-align: center;   
}

.memberList_listTable td{
	font-size:24px;
	text-align: center;
}

.memberList_listTable th, .memberList_listTable td{
	padding: 10px;
    border: 1px solid #ddd;
}

.ch_table tr{
	font-size:34px;

}

input {
	float:right;
	margin:30px;
	font-size:30px;
}