@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}

.header{
	background: #183770;
	height: 120px;
}

.navbar {
	padding: 40px 50px 30px 20px;
}

.navbar .navbar_logo i{
	font-size: 20px
	
}


.navbar_main {
	float: right;
	color: white;
}
.navbar_menu{
	float: right;
	padding-top: 10px;
	font-size: 19px
}

.navbar .navbar_menu li{
	display:inline-block;
	list-style: none;	
	margin: 10;
	padding: 9;
}

.navbar .navbar_menu a{
	margin-right: 4px;
}

.navbar .navbar_menu a:hover {
	background: #515aad;
}


